* {
    box-sizing: border-box;
}    

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px #242424;
}

main,
div.top,
div#weather,
.list-item,
.input-box{
    display: flex;
}

main,
div.top,
.input-box, 
.list-item {
    justify-content: space-between;
}

main {
    flex-direction: column;
}

h1.time,
.expression,
h2 {
    text-align: center;
    text-shadow: inherit;
}

.quote-box{
    width: 50%;
    padding-right: 40px;
    text-align: end;
    bottom: 20px;
    margin-left: 50%;
}

.user-input,
.quote-box{
    position: absolute;
}

div#weather {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-right: 40px;
}

div#weather,
.list-item{
    align-items: center;
}


div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin-top: -10px;
}

p.weather-temp {
    font-size: 1.7rem;
}

.time, .expression{
    font-size: 2rem;
    margin-bottom: 0;
}

.time-box{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span{
    font-size: 1rem;
}

/*TO DO LIST*/

.todo{
    background: rgba(218, 243, 242, 0.3);
    padding: 20px;
    border-radius: 8px;
    min-height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    width: 330px;
}

h2{
    text-shadow: 0px 0px 4px black;
    margin-top: 0;
}

ul{
    padding-left: 0px;
}

.list-item{
    height: 30px;
    list-style: none;
    padding-left: 5px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px black;
}

input{
    padding: 4px;
    border: none;
    border-radius: 5px;
    color: #242424;
    width: 230px;
}

button{
    color: inherit;
    background-color: #242424;
    border: none;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: bold;
    height: 2.25em;
    cursor: pointer;
    width: 50px
}

.user-input{
    margin: 20px 20px 0px;
    bottom: 50px;
}

@media (min-width: 1025px) {
    .time, .expression{
        font-size: 3rem;
    }
}

@media (min-width:1400px) {
    .time, .expression{
        font-size: 4rem;
    }
}